<!DOCTYPE html>
<html>
<head>
    <title>Création de votre compte</title>
</head>
<body>
    <h1>Bienvenue sur MyMood</h1>
    <p>Votre compte a été créé avec succès.</p>
    <p>Email : {{ email }}</p>
    <p>Mot de passe temporaire : {{ password }}</p>
    <p>Merci de vous connecter et de changer votre mot de passe dès que possible.</p>
</body>
</html>