.group {
    background-color: var(--color-white-background);
    padding: 8px;
    width: 19vw;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    margin-left: 25vw;
}

h1{
    margin-left: 156px; 
}