/* font import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* root */
:root {
    --font-headings: "Josefin Sans", serif;
    --font-paragraphes: "Montserrat", serif;

    --color-imts-blue: #1E1C59;
    --color-imts-red: #D91E41;
    --color-imts-background: #EFF2F7;
    --color-white-background: #FFF;

    --color-mood-green: #9EE258;
    --color-mood-yellow: #FFD25E;

    --box-shadow: rgba(30, 28, 89, 0.1) 0px 1px 2px 0px;
    --gradient-mood: linear-gradient(90deg, rgba(217, 30, 65, 1) 0%, rgba(255, 210, 94, 1) 50%, rgba(158, 226, 88, 1) 100%);
    
    font-family: var(--font-paragraphes);
    color: var(--color-imts-blue);
}

/* reset css  */
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-imts-background)
}

/* texts */
h1 {
    font-family: var(--font-headings);
    color: white;
    margin: 0;
}

h2,
h3,
h4 {
    font-family: var(--font-headings);
    color: var(--color-imts-blue);
}

p,
label,
textarea {
    font-family: var(--font-paragraphes);
    font-size: 16px;
    margin: 0;
    color: var(--color-imts-blue);
}

a {
    text-decoration: none;
    color: var(--color-imts-blue);
    font-family: var(--font-paragraphes);
}

/* elements */
.red-button {
    color: white;
    font-family: var(--font-paragraphes);
    font-weight: bold;
    border-radius: 8px;
    background-color: var(--color-imts-red);
    padding: 8px 24px;
    border: none;
    margin: 5px 0;
}

.text-input {
    font-family: var(--font-paragraphes);
    padding: 8px;
    border: none;
    background-color: var(--color-imts-background);
    border-bottom: solid 2px var(--color-imts-blue);
}

.white-zone {
    background-color: var(--color-white-background);
    box-shadow: var(--box-shadow);
    padding: 24px;
    color: var(--color-imts-blue);
}

/* header */
header {
    position: fixed;
    top: 0;
    height: 72px;
    width: 100vw;
    background-color: var(--color-imts-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    width: calc(100vw - 156px);
    text-align: center;
    
}

 #logout{
    margin-right: 15px;
 }
nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 72px;
    background-color: var(--color-white-background);
    height: calc(100vh - 72px);
    width: 20vw;
    padding: 12px;
}
main{ 
    margin-top: 90px;
}

#navButton{
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

