/* font import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* root */
:root {
    --font-headings: "Josefin Sans", serif;
    --font-paragraphes: "Montserrat", serif;

    --color-imts-blue: #1E1C59;
    --color-imts-red: #D81D40;
    --color-imts-background: #EFF2F7;
    --color-white-background: #FFF;

    --color-mood-green: #9EE258;
    --color-mood-yellow: #FFD25E;

    --box-shadow: rgba(30, 28, 89, 0.1) 0px 1px 2px 0px;
    --gradient-mood: linear-gradient(90deg, rgba(217, 30, 65, 1) 0%, rgba(255, 210, 94, 1) 50%, rgba(158, 226, 88, 1) 100%);

}

/* reset css  */
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-imts-background);
}

/* texts */
h1 {
    font-family: var(--font-headings);
}

p {
    font-family: var(--font-paragraphes);
    font-size: 16px;
}

/* elements */
.red-button {
    color: white;
    font-family: var(--font-paragraphes);
    font-weight: bold;

    background-color: var(--color-imts-red);
    padding: 8px 24px;
    border: none;
    border-radius: 2px;

}

.button {
    /* Add text color */
    font-family: var(--font-paragraphes);
    font-weight: bold;

    /* Add background color */
    padding: 8px 24px;
    border: none;
    border-radius: 2px;
}

.text-input {
    font-family: var(--font-paragraphes);

    padding: 8px;
    border: none;
    border-radius: 2px;

}

.white-zone {
    background-color: var(--color-white-background);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    padding: 24px;
    color: var(--color-imts-blue);
}

/* header */
header {
    height: 72px;
    width: 100vw;
    background-color: var(--color-imts-blue);
}