body {
    display: flex;
    flex-direction: column;
}

main {
    margin-left: 25vw;
}

h1{
    margin-left: 156px; 
}

#group-banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}